@media screen and (max-width: 1205px) {
    .right {
        margin-left: -25%;
    }
    .border {
        left: 28%;
        top: 20%;
    }
    form textarea {
        height: 43.5%;
    }
}

@media screen and (max-width: 1170px) {
    .list1 span {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 1120px) {
    .list2 {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .list2 li {
        width: 100%;
        padding: 7% 0;
    }
    .list2 span {
        margin-left: 20%;
    }
}

@media screen and (max-width: 1060px) {
    .advantages {
        display: block;
    }
    .list1 {
        margin-bottom: 5%;
    }
    .list1 li{
        margin-bottom: 0;
    }
    .list1 i {
        margin: 0 auto;
    }
    hr {
        margin-bottom: 4%;
    }
    .list2 {
        margin-bottom: 10%;
    }
    .list2 li{
        padding: 4% 0;
    }
    .list2 i {
        font-size: 2.5em;
    }
    .list2 span {
        font-size: 1.7em;
    }
    .bg-advantages {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (max-width: 1038px) {
    .line {
        top: 25%;
    }
    .main-layout h4 {
        width: 75%;
    }
}

@media screen and (max-width: 1025px) {
    .right {
        margin-left: 0;
        flex-basis: 100%;
    }
    form textarea {
        height: 41.5%;
    }
    .gender-block label:first-of-type {
        flex-basis: 40%;
    }
    .gender-block label:last-of-type {
        flex-basis: 30%;
    }
    .left-img-position {
        margin-bottom: 10%;
    }
    .main-layout img {
        width: 500px;
    }
    .right-comment {
        left: -11%;
        bottom: 14%;
    }
    .right-img-position:hover .right-comment{
        bottom: 8%;
        left: -21.5%;
    }
    .left-comment {
        top: 14%;
        right: -12%;
    }
    .left-img-position:hover .left-comment {
        top: 12%;
        right: -23%;
        width: 30%;
    }
    .main-layout a {
        padding: 2% 6%;
    }
}

@media screen and (max-width: 935px) {
    h1 {
        margin-bottom: 5%;
    }
    nav {
        flex-direction: column;
    }
    nav a:nth-of-type(3) {
        margin-right: 0;
    }
    .left {
        flex-basis: 100%;
    }
    .right-comment {
        bottom: 14%;
        left: 92%;
        width: 20%;
    }
    .right-img-position:hover .right-comment{
        bottom: 7.5%;
        left: 94%;
        width: 25%;
    }
    .left-img-position {
        margin-bottom: 5%;
    }
    form textarea {
        height: 47%;
    }
    .gender-block label:first-of-type {
        flex-basis: 45%;
    }
    .gender-block label:last-of-type {
        flex-basis: 35%;
    }
}

@media screen and (max-width: 870px) {
    .gender-block label:first-of-type {
        flex-basis: 50%;
    }
    .gender-block label:last-of-type {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 768px) {
    form textarea {
        height: 45.5%;
    }
}

@media screen and (max-width: 675px) {
    .main-layout img {
        width: 380px;
    }
    .right-img-position, .left-img-position {
        margin: 0 auto 10%;
    }
    .right-comment {
        bottom: 22%;
        left: 87%;
        width: 30%;
    }
    .right-img-position:hover .right-comment{
        bottom: 17.5%;
        left: 85.5%;
        width: 40%;
    }
    .left-comment {
        top: 19%;
        right: -16%;
    }
    .left-img-position:hover .left-comment {
        top: 19.8%;
        right: -27.5%;
        width: 40%;
    }
    .line, .border {
        display: none;
    }
    footer {
        flex-direction: column;
    }
    .left-side, .center {
        margin-bottom: 10%;
    }
    .left-side h4, .right-side h4 {
        margin-bottom: 5%;
    }
    .left-side p:last-of-type {
        margin-bottom: 5%;
    }
    button {
        padding: 4% 7%;
    }
    form button {
        padding: 7% 0;
    }
    .right-side {
        text-align: justify;
    }
    .contact-list li {
        margin-bottom: 5%;
    }
    form textarea {
        height: 42%;
    }
}

@media screen and (max-width: 570px) {
    form textarea {
        height: 41%;
    }
}

@media screen and (max-width: 465px) {
    .main-layout img {
        width: 240px;
    }
    .left-comment {
        top: 28%;
        right: -25%;
    }
    .left-img-position:hover .left-comment {
        top: 38%;
        right: -40%;
        width: 67%;
    }
    .right-comment {
        bottom: 33%;
        width: 45%;
        left: 80%;
    }
    .right-img-position:hover .right-comment{
        bottom: 30%;
        left: 75%;
        width: 60%;
    }
    form {
        flex-direction: column;
    }
    button {
        padding: 7% 7%;
        font-size: 1.3em;
        width: 100%;
    }
    .required-text {
        display: block;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 360px) {
    .list1 li{
        flex-basis: 20%;
    }
}

@media screen and (max-width: 340px) {
    .right-photo:hover, .left-photo:hover {
        transform: scale(1.1);
    }
    .left-img-position:hover .left-comment, .right-img-position:hover .right-comment {
        font-size: 0.55em;
    }
    .left-img-position:hover .left-comment {
        top: 41%;
        right: -33%;
    }
    .left-comment {
        right: -24.5%;
    }
    .right-img-position:hover .right-comment{
        bottom: 34%;
        left: 75%;
    }
}
