@import "fonts.css";

body {
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font: 100% "Trade Gothic";
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

a {
    text-decoration: none;
    color: #fff;
}

h4 {
    font-size: 2em;
    font-family: "Trade Gothic Condensed";
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

header {
    padding: 4.5% 7%;
    overflow: hidden;
    background: url(../images/170302153930-new-apartment-architecture-3-super-169.jpg) 100% 30% no-repeat;
    background-size: cover;
    text-align: center;

}

h1 {
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 162px;
    height: 60px;
    margin: 0 auto -3.8% auto;
}

header h1 a {
    text-indent: -9999px;
    display: block;
    height: 100%;
    width: 100%;
}

h2 {
    font-family: "Trade Gothic Condensed";
    font-size: 2em;
    letter-spacing: 0.3em;
    margin-bottom: 1%;
}

.address {
    display: block;
    margin-bottom: 3.5%;
}


nav {
    font-size: 0.65em;
    font-family: "Trade Gothic Bold";
    letter-spacing: 0.2em;
    margin-bottom: 16%;
    overflow: hidden;
}

nav span {
    margin-right: 5.3%;
}

nav span:nth-of-type(4) {
    margin-right: 0;
}

nav span:nth-of-type(-n + 3) {
    float: left;
}

nav span:nth-of-type(n + 4) {
    float: right;
}

.upper {
    margin: 0 auto;
}

.bottom-left {
    border-left: none;
    border-bottom: none;
    padding: 0;
}

.bottom-left a {
    display: block;
    background: url(../images/finbar.jpg) 0 0 no-repeat;
    width: 198px;
    height: 50px;
}

.bottom-right {
    border-right: none;
    border-bottom: none;
}

.bottom-right a {
    display: block;
    background-color: #ef7d1d;
    padding: 8% 0 8% 24%;
    text-align: left;
    font-family: "Trade Gothic Condensed";
    letter-spacing: 0.2em;
    font-size: 0.9em;
}

.background-advantages {
    position: absolute;
    top: 300%;
    left: 5.8%;
}

.background-advantages img {
    opacity: 0.05;
    width: 1400px;
    height: 1000px;
    z-index: -100;
}

main {
    background-color: #1a1a22;
    padding: 0 7%;
}

.bgimg {
    width: 400px;
    height: 934px;
    background: url(../images/o2-tower-2289697_1920.jpg) 0 0 no-repeat;
    box-shadow: inset 0px 0px 100px 50px rgba(0,0,0,0.9);
    opacity: 0.1;
    margin: 0 auto;
}

.border {
    border: 3px solid #c76a1a;
    width: 350px; /*400px */
    height: 580px; /* 680px */
    position: absolute;
    left: 38%;
    top: 25%;
}


.line {
    position: absolute;
    top: 30%;
    left: 74%;
    border-left: 3px solid #fff;
    height: 25%;
}

.main-layout {
    margin-top: -60%;
    overflow: hidden;
    position: relative;
}

.main-layout img {
    width: 550px;
    height: 380px;
}

.main-layout span {
    font-family: "Trade Gothic Condensed";
    font-size: 0.7em;
    text-transform: uppercase;
    color: #848486;
    letter-spacing: 0.15em;
    /* Трансформируем текст */
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.right-comment {
    position: absolute;
    top: 32.5%;
    left: 49%;
}

.left-comment {
    position: absolute;
    top: 60%;
    left: 43%;
}

.right-photo {
    float: right;
    margin-bottom: 15%;
}

.left {
    margin-top: 13%;
}

.main-layout article {
    width: 25%;
    overflow: hidden;
    margin-bottom: 4%;
}

.main-layout h4 {
    margin-bottom: 7%;
    width: 70%;
}

.main-layout a {
    width: 12%;
    background-color: #ef7d1d;
    display: inline-block;
    text-align: center;
    padding: 2%;
    font-family: "Trade Gothic Condensed";
    letter-spacing: 0.15em;
}

.main-layout p {
    margin-bottom: 10%;
}

.left-photo {
    float: left;
    margin-right: 28%;
    margin-bottom: 5%;
}

.video-block {
    margin-bottom: 10%;
}

.video-block span {
    display: block;
    margin-bottom: 2%;
}

.video-block video {
    border: 1px solid darkgrey;
}

.advantages {
    display: flex;
    flex-direction: row;
    box-shadow: inset 0px 0px 500px 360px rgba(26, 26, 34, 0.9);
    background-color: #384c67;
}

.left-flex-block {
    margin-right: 10%;
}

.left-flex-block h4 {
    margin-bottom: 5%;
}

.left-flex-block p {
    margin-bottom: 12%;
}

.title1 {
    width: 68%;
}

.list1 {
    margin-bottom: 15%;
}

.list1 li {
    display: inline-block;
    width: 18%;
    margin-right: 8%;
    font-family: "Trade Gothic Condensed";
    font-size: 0.8em;
    vertical-align: text-top;
    text-align: center;
}

.list1 li:nth-of-type(4n) {
    margin-right: 0;
}

.list1 li:nth-of-type(-n + 4) {
    margin-bottom: 8%;
}

.list1 li img {
    display: block;
    margin: 0 auto 20% auto;
}

.bg-advantages {
    width: 540px;
    height: 1010px;
}

hr {
    background-color: #fff;
    width: 20%;
    margin: 0 0 15% 0;
    padding: 0;
}

.title2 {
    width: 70%;
}

.list2 {
    column-count: 2;
}

.list2 li {
    display: block;
    font-family: "Trade Gothic Condensed";
    font-size: 0.8em;
    border-bottom: 1px solid #fff;
    padding-bottom: 5%;
    margin: 0 4% 4% 0;
}

.list2 li:nth-of-type(n + 4) {
    margin-right: 0;
}

.list2 img {
    display: inline;
    vertical-align: middle;
    margin-right: 5%;

}























footer {
    padding: 7% 8% 11%;
    background-color: #171926;
    font-size: 0.85em;
    line-height: 1.5;
    overflow: hidden;
}

footer h4 {
    font-size: 1.6em;
}

table {
    font-family: "Trade Gothic Bold";
    width: 60%;
}

table td {
    padding: 2.5% 5%;
    border: 1px solid #fff;
}

.bottom {
    margin: 0 auto 10%;
    text-align: center;
    font-size: 1.1em;
}

.table-text-decoration {
    letter-spacing: 0.2em;
    font-family: "Trade Gothic Condensed";
    font-size: 1.1em;
}

.left-side {
    float: left;
    width: 20%;
    margin-right: 8%;
}

.left-side h4 {
    margin-bottom: 35%;
}

.left-side p {
    text-transform: none;
    margin-bottom: 3.5%;
}

.left-side p:last-of-type {
    margin-bottom: 15%;
}

form {
    overflow: hidden;
    margin-right: 10%;
}

.required:after {
    content: " ";
    display: inline-block;
    background: url(../images/asteriks.jpg) 0 0 no-repeat;
    width: 6px;
    height: 5px;
}

.left-column {
    padding-right: 3%;
    width: 37%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.left-column .required-text {
    text-transform: none;
    color: #878b96;
}

.gender-block {
    border-bottom: 1px solid #373b47;
    padding-bottom: 3%;
    margin-bottom: 7%;
}

.gender-block span {
    margin-bottom: 5%;
}

.gender-block label {
    margin-right: 5%;
    font-weight: bold;
}

.gender-block label[for="female"] {
    color: pink;
}

.gender-block label[for="male"] {
    color: blue;
}

.gender-block input:first-of-type {
    margin-right: 20%;
}

.gender-block input {
    vertical-align: text-top;
}

.gender-block:hover {
    border-bottom: 1px solid #ef7d1d;
}

form h4 {
    margin-bottom: 7.5%;
}

.underline {
    background-color: #171926;
    border: none;
    border-bottom: 1px solid #373b47;
    outline: none;
}

.block {
    display: block;
}

form input {
    padding: 5.5% 0;
    margin-bottom: 4%;
    width: 100%;
    font-family: "Trade Gothic";
    color: #fff;
}

form input::-moz-placeholder {
    color: #fff;
}
form input::-webkit-input-placeholder {
    color: #fff;
}

form input:focus {
    border-bottom: 1px solid #f17c1d;
}

form .gender {
    width: auto;
}

form .date {
    background-color: #171926;
}

form select {
    outline: none;
    display: block;
    padding: 2.8% 0;
    width: 74%;
    margin-bottom: 2%;
    color: #fff;
    font-family: "Trade Gothic";
    border: 1px solid #373a49;
    background-color: #171926;
}

.right-column {
    width: 60%;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 0.5%;
}

.right-column label {
    display: inline-block;
    padding: 2% 0;
    margin-bottom: 2.8%;
}

.right-column select option {
    padding: 30%;
}

.right-column span {
    margin-bottom: 2%;
}

.right-column progress {
    margin-bottom: 7%;
}

.right-column .label2 {
    margin-bottom: 1.2%;
    padding: 0;
}

form select:last-of-type {
    margin-bottom: 3%;
}

form textarea {
    display: block;
    margin-bottom: 5%;
    padding-bottom: 2%;
    width: 72%;
    color: #fff;
    line-height: 1.7;
}

form textarea::-moz-placeholder {
    color: #fff;
    font-family: "Trade Gothic";
}
form textarea::-webkit-input-placeholder  {
    color: #fff;
    font-family: "Trade Gothic";
}

form button {
    padding: 4% 24.7%;

}

.right-side {
    float: right;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
}

.right-side h4 {
    margin-bottom: 48%;
    font-size: 2em;
}

.contact-list li {
    margin-bottom: 14%;
    font-size: 1.15em;
}

.contact-phone {
    font-weight: normal;
}

button {
    background-color: #ef7d1d;
    border: none;
    color: #fff;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 8% 15%;
    font-family: "Trade Gothic Condensed";
    font-size: 1.1em;
}


/* class work on 13.07.2017 */
/*
.chess {
    background-color: navajowhite;
}

.chess ul {
    border: 1px solid #000;
    margin: 0;
    padding: 0;
    width: 9%;
}
.chess ul li {
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
}

ul:nth-child(2n) li:nth-child(2n + 1){
    background-color: #000;
}
ul:nth-child(2n) li:nth-child(2n) {
    background-color: #fff;
}
ul:nth-child(2n +1) li:nth-child(2n + 1) {
    background-color: #fff;
}
ul:nth-child(2n+1) li:nth-child(2n) {
    background-color: #000;
}
.chess ul:first-of-type li {
    background-color: orange;
}
.chess ul:last-of-type li {
    background-color: yellow;
}
.chess ul li:last-of-type {
    background-color: green;
}
.chess ul li:first-of-type {
    background-color: purple;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: radial-gradient(circle, #fff, #000);
}
*/