@import "fonts.css";

body {
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font: 100% "Trade Gothic";
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

a {
    text-decoration: none;
    color: #fff;
}

h4 {
    font-size: 2em;
    font-family: "Trade Gothic Condensed", sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

header {
    padding: 4.5% 7%;
    overflow: hidden;
    background: url(../images/170302153930-new-apartment-architecture-3-super-169.jpg) 100% 30% no-repeat;
    background-size: cover;
    text-align: center;

}

h1 {
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 162px;
    height: 60px;
    margin: 0 auto -3.8% auto;
}

header h1 a {
    text-indent: -9999px;
    display: block;
    height: 100%;
    width: 100%;
}

h2 {
    font-family: "Trade Gothic Condensed", sans-serif;
    font-size: 2em;
    letter-spacing: 0.3em;
    margin-bottom: 1%;
}

.address {
    display: block;
    margin-bottom: 3.5%;
}


nav {
    font-size: 0.65em;
    font-family: "Trade Gothic Bold", sans-serif;
    letter-spacing: 0.2em;
    margin-bottom: 16%;
    overflow: hidden;
}

nav a {
    display: inline-block;
    margin-right: 5.3%;
}

nav a:nth-of-type(4) {
    margin-right: 0;
}

nav a:nth-of-type(-n + 3) {
    float: left;
}

nav a:nth-of-type(n + 4) {
    float: right;
}

.upper {
    margin: 0 auto;
}

.upper .bottom-left, .bottom-right {
    vertical-align: top;
    padding: 250px 0 0;
}

.bottom-left {
    border-left: none;
    border-bottom: none;
    text-align: right;
}

.bottom-left a {
    display: inline-block;
    height: 50px;
}

.bottom-left a img {
    width: auto;
    height: 100%;
    vertical-align: top;
}

.bottom-right {
    border-right: none;
    border-bottom: none;
    text-align: left;
}

.bottom-right a {
    background-color: #ef7d1d;
    padding: 16px 40px;
    font-family: "Trade Gothic Condensed", sans-serif;
    letter-spacing: 0.2em;
    font-size: 0.9em;
    display: inline-block;
}

.bottom-right a:before {
    display: inline-block;
    content: " ";
    background: url(../images/comment.jpg) 0 0 no-repeat;
    width: 16px;
    height: 13px;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.intro {
    position: relative;
}

main {
    background-color: #171926;
    padding: 0 7%;
    overflow: hidden;
    /* for IE */
    display: block;
}

.bgimg {
    width: 400px;
    height: 934px;
    background: url(../images/o2-tower-2289697_1920.jpg) 0 0 no-repeat;
    box-shadow: inset 0 0 100px 50px rgba(0,0,0,0.9);
    opacity: 0.1;
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 32%;
}

.border {
    border: 3px solid #c76a1a;
    width: 350px; /*400px */
    height: 580px; /* 680px */
    position: absolute;
    left: 35%;
    top: 25%;
    z-index: 5;
}

.line {
    position: absolute;
    top: 30%;
    right: 32%;
    border-left: 3px solid #fff;
    height: 25%;
    transition: height 1s ease, top 1s ease;
}

.main-layout {
    overflow: hidden;
    position: relative;
    z-index: 5;
    padding-top: 5%;
}

.main-layout img {
    width: 550px;
    height: 380px;
}

.main-layout span {
    font-family: "Trade Gothic Condensed", sans-serif;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #848486;
    letter-spacing: 0.15em;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transition: all 1s ease;
    position: absolute;
}

.right-comment {
    position: absolute;
    bottom: 12%;
    left: -10%;
}

.right-img-position:hover .right-comment{
    background-color: #ef7d1d;
    font-size: 1em;
    padding: 1%;
    bottom: 6.7%;
    left: -20.4%;
}

.left-comment {
    position: absolute;
    top: 11%;
    right: -11%;
}

.left-img-position:hover .left-comment {
    top: 7%;
    right: -22%;
    background-color: #ef7d1d;
    font-size: 1em;
    padding: 1%;
    width: 27%;
}

.right-img-position {
    float: right;
    margin-bottom: 15%;
    position: relative;
}

.right-photo {
    overflow: hidden;
    transition: all 1s ease-out;
}

.right-photo:hover, .left-photo:hover {
    transform: scale(1.2);
}

.right-img-position:hover ~ .line {
    top: 45%;
    height: 13%;
}

.left {
    margin-top: 10%;
}

.main-layout article {
    width: 25%;
    overflow: hidden;
    margin-bottom: 6%;
}

.main-layout h4 {
    margin-bottom: 7%;
    width: 70%;
}

.main-layout a {
    background-color: #ef7d1d;
    display: inline-block;
    text-align: center;
    padding: 2%;
    font-family: "Trade Gothic Condensed", sans-serif;
    letter-spacing: 0.15em;
}

.left-img-position {
    float: left;
    margin-right: 22%;
    margin-bottom: 5%;
    position: relative;
}

.left-photo {
    overflow: hidden;
    transition: all 1s ease-out;
}

.video-block {
    margin-bottom: 10%;
}

.video-block span {
    display: block;
    margin-bottom: 2%;
}

.video-block video {
    border: 1px solid darkgrey;
}

.advantages {
    display: flex;
    flex-direction: row;
    box-shadow: inset 0 0 500px 360px rgba(26, 26, 34, 0.9);
    background-color: #171926;
    margin-bottom: 10%;
    position: relative;
}

.glow {
    background: radial-gradient(circle at 60% 50%, #6d95d3, #001629, #001629);
    opacity: 0.35;
    width: 120%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -8%;
    z-index: 10;
}

.background-advantages {
    position: absolute;
    top: 10%;
    left: -9%;
}

.background-advantages img {
    opacity: 0.05;
    z-index: 0;
}

.left-flex-block {
    margin-right: 10%;
}

.left-flex-block h4 {
    margin-bottom: 5%;
}

.left-flex-block p {
    margin-bottom: 8%;
}

.title1 {
    width: 68%;
}

.list1 {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5%;
    font-family: "Trade Gothic Condensed", sans-serif;
    justify-content: space-between;
}

.list1 li {
    width: 22%;
    margin-right: 3%;
    margin-bottom: 10%;
}

.list1 i {
    font-size: 3em;
    text-align: center;
    display: block;
    padding: 10% 0;
    width: 60%;
    margin: 0 auto 15%;
}

.list1 span {
    display: block;
    text-align: center;
}

.bg-advantages {
    width: 540px;
    z-index: 5;
}

hr {
    background-color: #fff;
    width: 20%;
    margin: 0 0 15% 0;
    padding: 0;
}

.title2 {
    width: 70%;
}

.list2 {
    column-count: 2;
}

.list2 li {
    display: block;
    font-family: "Trade Gothic Condensed", sans-serif;
    font-size: 0.8em;
    border-bottom: 1px solid #fff;
    padding: 2% 0 7%;
    margin: 0 4% 4% 0;
}

.list2 li:nth-of-type(n + 4) {
    margin-right: 0;
}

.list2 i {
    display: inline-block;
    width: 10%;
    font-size: 1.5em;
}

.list2 li span {
    display: inline-block;
    margin-left: 5%;
    vertical-align: 17%;
}

.carousel-wrap {
    height: 805px;
    border: 1px solid #f17c1d;
    position: relative;
}

.big-carousel {
    position: absolute;
    top: 7%;
    left: 0;
    transition: all 1.5s ease-out;
}

.btn {
    position: absolute;
    top: 55%;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    text-decoration:none;
    background-image: linear-gradient(#f17c1d, #ff531d);
    border-radius: 50%;
    text-align: center;
    line-height: 1.9;
    z-index: 10;
    opacity: 0;
}

.left-control-btn, .right-control-btn {
    width: 40px;
    height: 40px;
}

.left-control-btn {
    left: 0;
}

.right-control-btn {
    right: -3%;
}

.gallery {
    display: flex;
    flex-direction: row;
    left: 3%;
    position: relative;
}

.gallery li {
    position: relative;
    width: 840px;
    height: auto;
}

.gallery img {
    height: 560px;
    vertical-align: top;
    transition: all 2s ease-out;
    opacity: 0.6;
    filter: blur(3px);
}

.gallery .btn:active {
    transform: translate(0, 2px);
}

.small-carousel {
    position: absolute;
    top: 85%;
    left: 18%;
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.small-carousel li {
    margin-right: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.9);
}

.small-carousel li:last-of-type {
    margin-right: 0;
}

.small-carousel img {
    height: 75px;
    width: 100px;
    vertical-align: top;
}

#item1:target ~ .big-carousel .gallery li:nth-of-type(1) img            { opacity: 1; filter: none; border-bottom: 3px solid #fff;
                                                                            width: 1020px; height: 660px; position: absolute;
                                                                            top: 0; left: -10%; z-index: 5;
    box-shadow: 0 0 20px rgba(255,255,255,0.7);}
#item1:target ~ .big-carousel .gallery li:nth-of-type(1) .btn           { opacity: 1; }
#item1:target ~ .small-carousel li:nth-of-type(1)	                    { opacity: 1; background-color: rgba(0, 0, 0, 0.35);  }
#item1:target ~ .small-carousel li:nth-of-type(1) img                   { border-bottom: 3px solid #ef7d1d; margin-top: -10px; }
#item1:target ~ .big-carousel                                           { left: 0; }


#item2:target ~ .big-carousel .gallery li:nth-of-type(2) img            { opacity: 1; filter: none; border-bottom: 3px solid #fff;
    width: 1020px; height: 660px; position: absolute;
    top: 0; left: -10%; z-index: 5; box-shadow: 0 0 20px rgba(255,255,255,0.7);}
#item2:target ~ .big-carousel .gallery li:nth-of-type(2) .btn           { opacity: 1; }
#item2:target ~ .small-carousel li:nth-of-type(2)	                    { opacity: 1; background-color: rgba(0, 0, 0, 0.35);  }
#item2:target ~ .small-carousel li:nth-of-type(2) img                   { border-bottom: 3px solid #ef7d1d; margin-top: -10px; }
#item2:target ~ .big-carousel                                           { left: -70%; }


#item3:target ~ .big-carousel .gallery li:nth-of-type(3) img            { opacity: 1; filter: none; border-bottom: 3px solid #fff;
    width: 1020px; height: 660px; position: absolute;
    top: 0; left: -10%; z-index: 5; box-shadow: 0 0 20px rgba(255,255,255,0.7);}
#item3:target ~ .big-carousel .gallery li:nth-of-type(3) .btn           { opacity: 1; }
#item3:target ~ .small-carousel li:nth-of-type(3)	                    { opacity: 1; background-color: rgba(0, 0, 0, 0.35);  }
#item3:target ~ .small-carousel li:nth-of-type(3) img                   { border-bottom: 3px solid #ef7d1d; margin-top: -10px; }
#item3:target ~ .big-carousel                                           { left: -140%; }

#item4:target ~ .big-carousel .gallery li:nth-of-type(4) img            { opacity: 1; filter: none; border-bottom: 3px solid #fff;
    width: 1020px; height: 660px; position: absolute;
    top: 0; left: -10%; z-index: 5; box-shadow: 0 0 20px rgba(255,255,255,0.7);}
#item4:target ~ .big-carousel .gallery li:nth-of-type(4) .btn           { opacity: 1; }
#item4:target ~ .small-carousel li:nth-of-type(4)	                    { opacity: 1; background-color: rgba(0, 0, 0, 0.35);  }
#item4:target ~ .small-carousel li:nth-of-type(4) img                   { border-bottom: 3px solid #ef7d1d; margin-top: -10px; }
#item4:target ~ .big-carousel                                           { left: -210%; }


#item5:target ~ .big-carousel .gallery li:nth-of-type(5) img            { opacity: 1; filter: none; border-bottom: 3px solid #fff;
    width: 1020px; height: 660px; position: absolute;
    top: 0; left: -10%; z-index: 5; box-shadow: 0 0 20px rgba(255,255,255,0.7);}
#item5:target ~ .big-carousel .gallery li:nth-of-type(5) .btn           { opacity: 1; }
#item5:target ~ .small-carousel li:nth-of-type(5)	                    { opacity: 1; background-color: rgba(0, 0, 0, 0.35);  }
#item5:target ~ .small-carousel li:nth-of-type(5) img                   { border-bottom: 3px solid #ef7d1d; margin-top: -10px; }
#item5:target ~ .big-carousel                                           { left: -280%; }


#item6:target ~ .big-carousel .gallery li:nth-of-type(6) img            { opacity: 1; filter: none; border-bottom: 3px solid #fff;
    width: 1020px; height: 660px; position: absolute;
    top: 0; left: -10%; z-index: 5; box-shadow: 0 0 20px rgba(255,255,255,0.7);}
#item6:target ~ .big-carousel .gallery li:nth-of-type(6) .btn           { opacity: 1; }
#item6:target ~ .small-carousel li:nth-of-type(6)	                    { opacity: 1; background-color: rgba(0, 0, 0, 0.35);  }
#item6:target ~ .small-carousel li:nth-of-type(6) img                   { border-bottom: 3px solid #ef7d1d; margin-top: -10px; }
#item6:target ~ .big-carousel                                           { left: -350%; }


#item7:target ~ .big-carousel .gallery li:nth-of-type(7) img            { opacity: 1; filter: none; border-bottom: 3px solid #fff;
    width: 1020px; height: 660px; position: absolute;
    top: 0; left: -10%; z-index: 5; box-shadow: 0 0 20px rgba(255,255,255,0.7);}
#item7:target ~ .big-carousel .gallery li:nth-of-type(7) .btn           { opacity: 1; }
#item7:target ~ .small-carousel li:nth-of-type(7)	                    { opacity: 1; background-color: rgba(0, 0, 0, 0.35);  }
#item7:target ~ .small-carousel li:nth-of-type(7) img                   { border-bottom: 3px solid #ef7d1d; margin-top: -10px; }
#item7:target ~ .big-carousel                                           { left: -420%; }

footer {
    padding: 7% 8% 11%;
    background-color: #171926;
    font-size: 0.85em;
    line-height: 1.5;
    overflow: hidden;
}

footer h4 {
    font-size: 1.6em;
}

table {
    font-family: "Trade Gothic Bold", sans-serif;
    width: 60%;
}

table td {
    padding: 2.5% 5%;
    border: 1px solid #fff;
}

.bottom {
    margin: 0 auto 10%;
    text-align: center;
    font-size: 1.1em;
}

.table-text-decoration {
    letter-spacing: 0.2em;
    font-family: "Trade Gothic Condensed", sans-serif;
    font-size: 1.1em;
}

.left-side {
    float: left;
    width: 20%;
    margin-right: 8%;
}

.left-side h4 {
    margin-bottom: 35%;
}

.left-side p {
    text-transform: none;
    margin-bottom: 3.5%;
}

.left-side p:last-of-type {
    margin-bottom: 15%;
}

form {
    overflow: hidden;
    margin-right: 10%;
}

.required {
    background: url(../images/asteriks.jpg) 98% 45% no-repeat;
}

.left-column {
    padding-right: 3%;
    width: 37%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.left-column .required-text {
    text-transform: none;
    color: #878b96;
}

.gender-block {
    border-bottom: 1px solid #373b47;
    padding-bottom: 3%;
    margin-bottom: 7%;
}

.gender-block span {
    margin-bottom: 5%;
}

.gender-block label {
    margin-right: 5%;
    font-weight: bold;
}

.gender-block label[for="female"] {
    color: pink;
}

.gender-block label[for="male"] {
    color: blue;
}

.gender-block input:first-of-type {
    margin-right: 20%;
}

.gender-block input {
    vertical-align: text-top;
}

.gender-block:hover {
    border-bottom: 1px solid #ef7d1d;
}

form h4 {
    margin-bottom: 7.5%;
}

.underline {
    background-color: #171926;
    border: none;
    border-bottom: 1px solid #373b47;
    outline: none;
}

.block {
    display: block;
}

form input {
    padding: 5.5% 0;
    margin-bottom: 4%;
    width: 100%;
    font-family: "Trade Gothic", sans-serif;
    color: #fff;
}

form input::-moz-placeholder {
    color: #fff;
}
form input::-webkit-input-placeholder {
    color: #fff;
}

form input:focus {
    border-bottom: 1px solid #f17c1d;
}

form .gender {
    width: auto;
}

form .date {
    background-color: #171926;
}

form select {
    outline: none;
    display: block;
    padding: 2.8% 0;
    width: 74%;
    margin-bottom: 2%;
    color: #fff;
    font-family: "Trade Gothic", sans-serif;
    border: 1px solid #373a49;
    background-color: #171926;
}

.right-column {
    width: 60%;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 0.5%;
}

.right-column label {
    display: inline-block;
    padding: 2% 0;
    margin-bottom: 2.8%;
}

.right-column span {
    margin-bottom: 2%;
}

.right-column progress {
    margin-bottom: 7%;
}

.right-column .label2 {
    margin-bottom: 1.2%;
    padding: 0;
}

form select:last-of-type {
    margin-bottom: 3%;
}

form textarea {
    display: block;
    margin-bottom: 5%;
    padding-bottom: 2%;
    width: 72%;
    color: #fff;
    line-height: 1.7;
}

form textarea::-moz-placeholder {
    color: #fff;
    font-family: "Trade Gothic", sans-serif;
}
form textarea::-webkit-input-placeholder  {
    color: #fff;
    font-family: "Trade Gothic", sans-serif;
}

form button {
    padding: 4% 24.7%;

}

.right-side {
    float: right;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
}

.right-side h4 {
    margin-bottom: 48%;
    font-size: 2em;
}

.contact-list li {
    margin-bottom: 14%;
    font-size: 1.15em;
}

.contact-phone {
    font-weight: normal;
}

button {
    background-color: #ef7d1d;
    border: none;
    color: #fff;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 8% 15%;
    font-family: "Trade Gothic Condensed", sans-serif;
    font-size: 1.1em;
}


/* class work on 13.07.2017 */
/*
.chess {
    background-color: navajowhite;
}

.chess ul {
    border: 1px solid #000;
    margin: 0;
    padding: 0;
    width: 9%;
}
.chess ul li {
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
}

ul:nth-child(2n) li:nth-child(2n + 1){
    background-color: #000;
}
ul:nth-child(2n) li:nth-child(2n) {
    background-color: #fff;
}
ul:nth-child(2n +1) li:nth-child(2n + 1) {
    background-color: #fff;
}
ul:nth-child(2n+1) li:nth-child(2n) {
    background-color: #000;
}
.chess ul:first-of-type li {
    background-color: orange;
}
.chess ul:last-of-type li {
    background-color: yellow;
}
.chess ul li:last-of-type {
    background-color: green;
}
.chess ul li:first-of-type {
    background-color: purple;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: radial-gradient(circle, #fff, #000);
}
/*class work on 17.07.2017

.circle {
    margin: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: radial-gradient(circle closest-corner at 25px 25px, #fff, #000);
}

.image {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(45deg, #f8a261, #6e9fc9), url(../images/interior-1026440_1920.jpg);
    background-blend-mode: overlay;

}

.gradient {
    width: 100px;
    height: 100px;
    border-radius: 50px;
background: gold;
box-shadow: 0 -200px 100px -120px crimson inset;


/*
.gradient {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: radial-gradient(at bottom right, rgba(136, 0, 21, 0.9), rgba(12, 5, 36, 0.4)),
    radial-gradient(at top, blue, #fff);
    transition: background 1s ease;
}
.gradient:hover {
    /*background:radial-gradient(at bottom right, rgba(255, 255, 0, 0.4), rgba(255, 0, 0, 0.6)),
    radial-gradient(at top, green, #fff);
    background: url(../images/border-image.jpg);
}
*/
